/*=======================================
            TRANSITIONS BASIC 
========================================*/

.square{
    background: red;
    height: 100px;
    opacity: 1;
    transition: all 1s ease;
}
.square.square-entering{
    opacity: 1;
    transform: translateX(0%);
}
.square.square-entered{
    background: blue ;
}
.square.square-exiting{
    background: green;
}
.square.square-exited{
    opacity: 0;
    transform: translateX(100%);
}

/*=======================================
                CSSTRANSITIONS
========================================*/

/*=======================================
                TRANSITIONS GROUP 
========================================*/

